body {
    font-family: 'lora', sans-serif;
    background-color: lightgrey;
    padding : 20px 10px 10px 10px;
    margin-left:0;
    font-size: 16px;
    margin-left: 50px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
}
header h3 {
    margin-left: 0;
    padding-left: 0;
    color: darkblue;
}

.contact { 
    display: flex;
   justify-content: flex-end;
   align-items: center;
   flex-flow: row wrap;
   margin-right: 20px;
   width: 20%;
}

.contact p{
   margin-bottom: 8px;
   color: darkblue;
   margin-top: 0;
}

.contact  a {
    color: darkblue;
    font-size: 16px;
    text-decoration: none;
}

h1 {
    color: darkblue;
    font-weight: bold;
    font-family: "Alegreya", sans-serif;
    font-size: 2.2em;
    letter-spacing: .2em;
    margin: 0;
    padding-top: 25px; 
   
}
h2 {
    padding: 10px 0;
    color: darkblue;
}
h3 {
    color: black;
    font-size: 1;
    padding-bottom: 10px;
}
footer {
  
    display: flex; 
    justify-content:space-around;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 0;
    color: darkblue;
    
}
.footer p {
    margin: 0;
    padding: 0;
}

.social-icons  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-flow: row nowrap;
    color: darkblue;
    font-size: 20px;
   
}
.social-icons a {
    text-decoration: none;
    padding-top: 5px;
    color: darkblue
}



h4 {
    color: 	#383838;
    margin: 0;
    font-size: 1.2em;

}
.degree {
    color: darkblue;
}
.employment h2{
    background: #FFCCFF;
}
.education h2{
    background: lemonchiffon
}
.languages h2{
    background: #CCFFFF;
}
ul {
    margin-left: 20px;
}
.header-subtitle, .degree {
    margin-left: 10px;
    color: black;
}
